@import url(commun.css);



body{
  font-family: 'Lato', sans-serif;
    
    
}
main{
 
    margin-top: 500px;
  }
 
  
#entete{
    background: none ;
    height:700px;  
    color:#045755;
     margin-top: -500px;
     margin-bottom: 150px;
  }


  #entete>img{
    display: block;
    padding-right: 0;
    padding-left: 0;
    padding-top: 100px;
    margin:auto;
    filter: drop-shadow(2px 3px 2px #684a37);
     
  }
  
#entete>p{
  
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  
}
.accueil{
    height:800px;
    width: 1400px;
    padding-left: 20px;
    margin-top: -100px;
    margin-bottom: 70px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.356);
}

div #accrochep{
  display: grid;
  grid-template-columns: repeat(2,2fr);
  padding-top: 50px;
}

div #paragraphe{
  margin-left: 50px;
  margin-right: -70px;
  font-size: 25px;
  line-height: 1.5;
}

p#p2{
  margin-top: 150px;
  margin-right: -600px;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

div #accrochep img{
  background-color: #684a37;
  height: 350px;
  width: 550px;
  margin-left: 150px;
  margin-right: -100px;
  margin-bottom: 100px;
  margin-top: -70px;
}



#presta h1{
    font-size: 60px;
    color: #024644;
    padding-left: 30px;
}
section#accroche{
padding-top: 0.5px;
}
 #accroche>h1{
    font-size: 80px;
    font-weight: 50;
    color: #024644;
   margin-top: 50px;
}


.accueil>div{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    font-size: 30px;
    margin-left: 50px;
    margin-right: 200px;
    margin-top: 50px;
    font-weight: 0;
    text-align: justify;
}

div.plus{
  text-align: center;
  margin: 0;
  padding-top: 10px;
}

ul.plus{
  margin-top: 0px;
}

ul.plus li{
  font-size: 20px;
  background-color: #000000;
  padding: 15px;
  margin-right: 40px;
  list-style: none;
  display: inline;
}

ul.plus a{
  color: white;
}


#logo{
    height: 300px;
    grid-column-start: 1;
    grid-row-start: 1;
    padding-top: 50px;
padding-left: 500px;
  }

h1.prestations{
  font-size: 50px;
  color: #024644;
  margin-top: 200px;
  margin-bottom: 80px;
}

section.prestations{
  background: none;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-row: 200px;
  height: 700px;
  
}

.prestations img{
  height: 250px;
  width: 350px;
  border-radius: 10px;
  
}

.prestations>section{
  margin-right: 10px;
  margin-left: 20px;
  width: 350px;
  background-color: rgba(255, 255, 255, 0.904);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.356);
}

.prestations h1{
  text-align: center;
  font-size: 30px;
  font-weight: 100;
}

.prestations div{
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
}

  div.infos{
    padding-top: 50px;
    margin-top: 300px;
    margin-left: 20px;
    font-weight: bold;
    font-size: 20px;
    color: black;
  }
  div.infos a{
    color: black;
  }

  section.infos-bas{
    margin-left: 300px;
    margin-top: 300px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-right: 300px;
      margin-bottom:100px;
  }

  .infos-bas div{
    margin-top:15%;
    margin-left: 0;
  }

  iframe{
    border-radius: 10px;
  }
