@import url(commun.css);

.accroche {
    background: none;
    height:400px;
    padding-left: 20px;
    margin-top: 100px;
}

.accroche h1 {
    font-size:60px;
    font-family: 'Playfair Display', serif;
    color:var(--couleur-6);
    text-align: center;
}

.accroche>#accroche{
    font-size: 30px;
    padding-top: 20px;
    text-align:center;
    text-justify:auto;
}

img {
    height : 200px;
    display: block;
    margin: auto;
    border-radius:10px;
}


section.prestations{
  background: none;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-row: 400px;
  height: 600px;
    padding:10px;
    margin-bottom: 300px;
}

.prestations-autres {
background: none;
    width:50%;
  height: 600px;
    padding:10px;
    margin:auto;
    margin-bottom: 300px;
}

.prestations>section{
      margin: auto;
  margin-right: 10px;
  margin-left: 20px;
  background-color: rgba(255, 255, 255, 0.904);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.356);
}

.prestations-autres>section{
    margin-left: auto;
    margin-right: auto ;
    padding-top:10px;
    padding-bottom:10px;
  background-color: rgba(255, 255, 255, 0.904);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.356);
}

h3 , th, dt{
    color:var(--couleur-6);
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-weight:bold;
}

p {
    text-align:justify;
}

h4 {
    color:var(--couleur-0);
    font-family: 'Playfair Display', serif;
    text-align: center;
}

.tarif-presta {
    padding : 10px;
    margin-bottom : 100px;
}

table {
  margin:auto;
  border:0px;
  border-spacing: 10px;
background-color: rgba(255, 255, 255, 0.904);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.356);
  border-radius:10px;
  padding:10px;
}

th{
  padding:10px;
}

dt{
  padding-bottom:10px;
}

td{
  text-align:justify;
  padding:10px;
background-color: var(--couleur-0);
color:rgba(255, 255, 255, 0.904);
border-radius:10px;
font-weight: bold;
}

td.tarif {
  font-weight:bold;
  background-color :transparent;
  color:var(--couleur-0);
  text-align:right;
}

.autres {
  height: 100px;
  
}

.autres .tarif{
  margin-left:10px;
}

.autres>section {
    margin: 0 auto;
  padding:10px;
}

#offre{
background-color: rgba(255, 255, 255, 0.904);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.356);
}

section {
  background-color :transparent;
}
