@import url(commun.css);

.accroche {
    background: transparent;
    height:400px;
    padding-left: 20px;
    margin-top: 100px;
}

.accroche h1 {
    font-size:60px;
    font-family: 'Playfair Display', serif;
    color:var(--couleur-6);
    text-align: center;
}

.accroche>#accroche{
    font-size: 30px;
    padding-top: 20px;
    text-align:center;
    text-justify:auto;
}

section {
    background:none;
}

#fomulaire {
    background-color:var(--couleur-2);
}

form {
  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

input {
    font-family: 'Playfair Display', serif;
}

label {
    font-size:30px;
    font-family: 'Playfair Display', serif;
    color:var(--couleur-6);
  display: block;
  margin-bottom: 10px;
}
